
body {
  font-family: 'PT Sans', sans-serif;
}
*{
  font-family: 'PT Sans', sans-serif;
}
html {
background-color:#000
}
.color{
  font-family: 'Bodoni Moda', serif !important;
}
.color{
  font-size: min(10vw,75px);
  width:70vw;
}
.color2 {
  color:#f2f2f2;
  width:50vw;
  font-size:max(2.5vw,24px);
  font-family: 'PT Sans', sans-serif;
  font-weight: lighter;
}
.t{
  color:#f88933 !important;
  padding-left: 20px;
}
.circle {
position:absolute;
border-radius:50%
}

.bottom-left,.top-left {
background-color:#f88933
}

.top-left {
width:600px;
height:550px;
top:-430px;
left:-10px
}

@media (max-width:800px) {
.bottom,.right {
visibility:hidden
}

}

.bottom-left {
width:500px;
height:510px;
bottom:-370px;
left:-200px
}

.bottom-right {
background-color:#fbda51;
width:600px;
height:600px;
bottom:-400px;
right:-100px
}

.navbar {
background-color:#000;
align-items:center;
display:flex;
justify-content:center;
position:fixed;
top:0;
left:0;
z-index:100
}

.logo1 {
width:auto;
height:85px;
position:absolute;
top:0;
left:45%
}

.color {
color:#fbda51
}

.pages {
color:#b4b2b2
}

.hamburger-icon {
width:35px;
height:20px;
position:relative;
border-top:5px solid #b4b2b2;
border-bottom:5px solid #b4b2b2
}

.bar,.links::after {
background-color:#b4b2b2
}

.bar,.links {
position:relative
}

.bar {
width:35px;
height:5px;
top:8px
}

.links {
text-decoration:none;
color:#b4b2b2;
margin:20px
}

.links::after {
content:"";
position:absolute;
width:0;
height:2px;
bottom:-1px;
left:50%;
transition:width .3s ease;
transform:translateX(-50%)
}

.links:hover::after,.navbar {
width:100%
}

.links.active {
color:#f5f5f5
}

.links.active::after {
background-color:#f5f5f5
}

.navbar {
display:block;
transition:height .3s ease;
padding-top:2%;
padding-bottom:3.15%;
height:auto
}

.drop {
opacity:1;
height:auto;
transition:opacity 1s ease,height .3s ease;
margin:5.06% 5.06% 2.53%;
display:flex;
flex-direction:column
}

.links {
font-size:20px;
display:block;
}

.pages {
padding:1.27%;
height:0;
opacity:0;
display:none
}

.hamburger-icon {
display:block;
left:1.89%;
top:1.27%
}

.bar {
display:block
}

.text {
height:900px;
display:flex;
align-items:left;
justify-content:center;
flex-direction:column;
padding-left:50px;
background-image:url(./photos/backgroundp1.png);
background-size:2800px
}



.logo_div2 {
background-color:#fff;
color:#fff;
padding:20px;
text-align:center;
display:flex;
flex-direction:row;
align-items:center;
position:relative;
height:500px;
overflow:hidden
}

.detail {
font-size:24px;
max-width:600px;
margin:20px auto;
text-align:center;
padding-bottom: 30px;
}

.AI_image {
width:30%;
height:auto;
margin-top:20px;
transition:transform .3s ease;
border-radius:100%;
z-index:1;
position: relative;
    left:250px;
}

.AI_image,.detail,.logo_div2 {
margin-bottom:20px
}

.button {
color:#fff;
background-color:#000;
padding:15px 30px;
border:0;
border-radius:5px;
font-size:18px;
cursor:pointer;
transition:background-color .3s ease,transform .3s ease
}

.button:hover {
background-color:transparent;
color:#000;
transform:scale(1.1)
}

.logo_div3,.ver {
position:relative
}

.logo_div3 {
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
height:500px;
background-color:transparent
}

.logo_div3 .mission-image {
position:relative;
top:-300px;
width:100%;
height:auto
}

.logo_div3 .At {
position:absolute;
top:-10%;
left:50%;
transform:translate(-50%,-50%);
font-size:40px;
text-align:center;
color:#fff;
opacity:0;
transition:opacity .5s ease
}

.logo_div3:hover .At,.logo_div3:hover .At::after {
opacity:1
}

.logo_div3 .At::after {
content:"";
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background-color:rgba(0,0,0,.5);
z-index:-1;
opacity:0;
transition:opacity .3s ease
}

.ver {
left:300px
}

.bicycle_image {
width:100%;
height:400px;
margin-top:20px;
object-fit:cover
}

.button {
text-decoration:none
}

@media (max-width:768px) {
.logo_div3 .mission-image {
position:relative;
top:0;
margin-top:2.67vh
}

.logo_div3 .At {
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%)
}

.logo1 {
height:50px
}
}

@media (max-width:1000px) {
.logo_div3 .At {
font-size:4vh;
opacity:1
}
.coc{
  padding-bottom: 50px;
}
.AI_image{
  position: relative;
  bottom:30px;
}
.ver{
  position: relative;
  bottom: 30px;
}
}

@media (max-width:1200px) {
.logo_div {
height:auto
}

.logo_image {
margin-top:7.67%;
margin-bottom:2.67%
}

.logo_div2 {
flex-direction:column;
padding-top:200px
}

.bicycle_image {
height:auto
}

.ver {
position:relative;
left:0;
padding:10px;
}

.navbar {
min-height:50px
}
}

@media (max-width:480px) {
.logo_div3 .At {
font-size:1.5vh;
opacity:1
}

.bicycle_image {
height:auto
}

.button {
font-size:2vw;
padding:1.4% 2.7%
}

.navbar {
min-height:50px
}
}

.container {
display:grid;
grid-template-columns:repeat(2,1fr);
grid-template-rows:repeat(2,1fr);
grid-gap:100px;
margin:50px auto;
max-width:800px;
z-index:2;
}

.box,.commitment div {
transition:transform .3s ease
}

.box {
background-color:#fbda51;
padding:20px;
border-radius:40px
}

.box:hover,.commitment div:hover {
transform:scale(1.05)
}

.heading {
color:#000;
font-size:24px;
font-weight:700;
margin-bottom:10px
}

.content {
color:#000;
font-size:18px;
line-height:1.4
}

.commitment {
display:grid;
grid-template-columns:repeat(2,1fr);
grid-template-rows:repeat(2,1fr);
grid-gap:30px;
max-width:800px;
margin:0 auto;
padding:40px;
background-color:#f5f5f5;
border-radius:8px
}

.commitment div {
background-color:#fff;
border-radius:8px
}

@media (max-width:789px) {
.commitment,.container {
display:grid;
grid-template-columns:1fr;
grid-template-rows:auto;
grid-gap:2%
}

.container {
position:relative;
top:10%;
margin:5%auto;
max-width:80%
}

.commitment {
padding:2%
}

.content,.heading {
font-size:inherit
}
}

.contact-container {
display:flex;
flex-direction:column;
align-items:center;
margin-top:20px;
color:#fff;
position:relative;
top:70px
}

.contact-title {
font-size:24px
}

.contact-form {
display:flex;
flex-direction:column;
width:300px;
margin-top:20px
}

.contact-form label {
font-weight:700;
margin-bottom:5px
}

.contact-form input {
padding:8px;
margin-bottom:10px;
border:1px solid #fff;
border-radius:4px;
background-color:transparent;
color:#fff
}

.contact-form input:focus,.contact-form textarea:focus {
outline:0;
border-color:#fff
}

.contact-form button,.contact-form textarea {
border-radius:4px;
color:#000;
background-color:#fff
}

.contact-form button {
padding:10px 20px;
border:0;
cursor:pointer
}

.contact-form button:hover {
background-color:#ccc;
color:#000
}

.contact-form textarea {
padding:8px;
margin-bottom:10px;
border:1px solid #000;
height:150px;
resize:vertical
}

@media (max-width:768px) {
.contact-container {
top:50px;
padding-top:30px;
}

.contact-title {
font-size:20px
}

.contact-form {
width:90%;
max-width:400px
}
}

@media (max-width:480px) {
.contact-container {
top:30px
}

.contact-title {
font-size:18px
}

.contact-form {
width:90%;
max-width:300px
}
}

.research-container,.research-item {
display:flex;
flex-direction:column;
align-items:center;
padding:20px
}

.research-container {
justify-content:center;
min-height:calc(100vh - 60px);
background-color:#f4f4f4;
box-sizing:border-box;
margin-top:80px
}

.research-item {
background-color:#fff;
margin-bottom:20px;
text-align:center;
box-shadow:0 2px 4px rgba(0,0,0,.1);
transition:transform .3s ease-in-out;
max-width:500px;
width:100%;
margin-left:auto;
margin-right:auto;
border-radius:40px
}

.research-item:nth-child(2) {
transition:transform .4s ease-in-out
}

.research-item:nth-child(3) {
transition:transform .5s ease-in-out
}

.research-list {
display:flex;
flex-direction:column;
align-items:center
}

.research-item:hover {
transform:translateY(-5px)
}

.research-image {
width:150px;
height:150px;
object-fit:contain;
margin-bottom:10px;
transition:opacity .3s ease-in-out
}

.research-title {
color:#000;
font-size:20px;
font-weight:700;
margin-bottom:10px;
transition:color .3s ease-in-out
}

.research-description {
color:#555;
font-size:16px;
line-height:1.5;
margin-bottom:20px;
transition:color .3s ease-in-out
}

.research-item:hover .research-image {
opacity:.8
}

.research-item:hover .research-title {
font-size:larger
}

.research-item:hover .research-description {
color:#333
}

@media (max-width:768px) {
.research-container {
padding:5%
}

.research-item {
max-width:70%
}

.research-image {
width:40%;
height:auto
}

.research-description,.research-title {
font-size:inherit
}
}

@media (max-width:480px) {
.research-item {
max-width:90%
}

.research-image {
width:50%;
height:auto
}

.research-description,.research-title {
font-size:inherit
}
}

.product-container {
position:relative;
justify-content:center;
padding:80px;
border-radius:8px;
box-shadow:0 0 10px rgba(0,0,0,.1);
background-color:#f7f7f7;
background-image:linear-gradient(45deg,rgba(173,216,230,.1) 25%,transparent 25%,transparent 75%,rgba(173,216,230,.1) 75%);
background-size:40px 40px
}

.content-container,.inner-div,.product-container {
display:flex;
align-items:center
}

.inner-div {
width:100%!important;
background-color:#fff;
padding-top:100px;
flex-direction:column
}

.content-container {
flex-direction:row;
justify-content:center;
height:100%;
width:100%
}

.inner-div:hover,.lindtp:hover {
background-color:#f2f2f2
}

.logo-container {
margin-right:20px
}

.lindtp,.logo {
width:200px;
height:auto
}

.lindtp {
color:#444;
font-size:20px;
line-height:1.5;
padding:20px;
background-color:#fff;
max-width:500px;
width:100%;
transition:background-color .3s ease;
}

.photo-slider-container {
width:300px;
padding:100px
}

.photo-slider {
margin:0
}

.photo-slide .photo {
width:300px;
height:300px;
object-fit:cover
}

.photo-slider-container .slick-next::before,.photo-slider-container .slick-prev::before {
color:#000
}

@media (max-width:1200px) {
.product-container {
padding:40px
}

.inner-div {
padding:10px
}

.logo-container {
margin-right:10px
}

.logo {
width:100px;
padding-top:100px
}

.lindtp {
font-size:16px;
padding:10px;
width:300px;
height:auto
}

.content-container {
display:flex;
justify-content:center;
align-items:center;
flex-direction:column
}

.photo-slider-container {
width:200px;
padding:50px
}

.photo-slide .photo {
width:100%;
height:auto
}
}

.attribution-section {
margin-top:20px;
font-size:14px;
color:#666
}

.attribution-section p {
margin:8px 0
}

.attribution-section a {
color:#06c;
text-decoration:none
}

.attribution-section a:hover {
text-decoration:underline
}

.background-container {
position:fixed;
top:0;
left:0;
width:100%;
height:200vh;
display:flex;
align-items:center;
justify-content:center;
overflow:hidden;
z-index:-1
}

.coc {
position:relative;
overflow:hidden
}

.bottom,.right {
position:absolute
}

.right {
background-color:#f88933;
width:500px;
height:500px;
right:-350px;
z-index:-1;

}

.bottom {
background-color:#f88933;
width:400px;
height:400px;
bottom:-300px;
left:-80px;

}

.ver {
background-color:transparent;
color:#000;
padding:10px;
}

.side-circle {
position:absolute;
border-radius:50%;
}

.circle-yellow {
background-color:#fbda51;
width:30%;
height:30%;
}

.circle-orange {
background-color:#f88933;
width:20%;
height:20%
}

.side-circle:nth-child(1) {
  width:17%;
  height:17%;
  bottom:-8%;
  left:-8%
}

.side-circle:nth-child(2) {

top:-10%;
right:-15%
}

.side-circle:nth-child(3) {
right:-20%;
top:25%
}

.side-circle:nth-child(4) {
top:-5%;
left:-10%;
}

.side-circle:nth-child(5) {
  height:40%;
width:40%;
left:-32%;
top:35%
}
.side-circle:nth-child(6){
  bottom:-15%;
  right:-15%;
}
@media (max-width:800px){
  .side-circle{
    visibility:hidden;
  }
}
.purple,.violet {
position:absolute;
border-radius:50%;
width:300px;
height:300px
}

.purple {
background-color:#78d8ff;
left:-90px;
top:30px
}

.violet {
background-color:#6060f0;
right:-100px;
top:-50px
}

.inner-div {
position:relative;
overflow:hidden
}

@media (max-width:767px) {
.purple,.violet {
width:150px;
height:150px
}

.purple {
left:-70px;
top:20px
}

.violet {
right:-80px;
top:-40px
}
}

@media (max-width: 1200px) {
  .logo_div2 {
    flex-direction: column;
  }

  .AI_image {
    order: -1;
    width: min(230px,40%); /* Adjust the width as needed */
    position: relative;
    left:0;
  }
}
.ver{
  position: relative;
  left:0;
}
.research-item{
  margin-bottom: 150px;
}
.research-container{
  margin-top: 120px;
}
